a.diqa-import-add-link {
	position: relative;
	top: 4px;
	left: 10px;
}

select[name=diqa_taggingrule_attribute] {
	background-color: #ddd;
}

input[readonly] {
	background-color: #ddd;
	border-width:0px;
	border:none;
	padding: 3px;
}

div.diqa-taggingrule-header a {
	float: right;
	position: relative;
	left: -1px;
	top: 8px;
}

div#add-tagging-rule table {
	width: 100%
}

div#add-tagging-rule input.diqa_taggingrule_parameters {
	width: 94%;
}

div#add-tagging-rule input[name=diqa_taggingrule_crawledProperty] {
	width: 40%;
}

div.diqa-import-section span.ui-button-text {
	line-height: 1.0 !important;
}
div.diqa-import-tagging-parameter-container {
	margin-top: 5px;
}

div.diqa-import-add-link a {
	cursor: pointer;
}

div.diqa-import-table table {
	width: 100%
}

span.diqa-import-js-button-label {
	float: left;
    position: relative;
    margin-left: 20px;
    margin-top: -3px;
}

div.diqa-import-section {
	margin-top: 20px;
}

div.diqa-import-table {
	margin-top: 20px;
}

div.diqa-import-table th {
	background-color: lightgrey;
}

div.diqa-import-form {
	margin-top: 20px;
}

td,th {
	padding: 5px;
}

div.diqa-import-form td {
	padding: 4px;
}

div.diqa-import-form td:first-child {
	width: 200px;
}

div.diqa-import-table td.diqa-import-action-column {
	vertical-align: top;
	margin-top: 10px;
	width: 200px;
}

div.diqa-import-table td.diqa-import-action-column > div {
	margin-top: 10px;
}

div.diqa-import-section input[type=submit] {
	margin-top: 10px;
}

div.diqa-import-error {
	margin-top: 10px;
	background-color: #f45342;
	padding: 10px;
	border-radius: 10px;
}

tr.diqa-import-error-row {
	background-color: #f45342 !important;
}

div.diqa-import-warning {
	margin-top: 10px;
	background-color: #f4a442;
	padding: 10px;
	border-radius: 10px;
}

div.diqa-import-backlink {
	margin-top: 10px;
}

form.diqa-import-command {
	float: left;
	margin-left: 3px;
	pointer: cursor;
}

td.diqa-import-action-column a.diqa-import-js-button {
	float: left;
	margin-left: 3px;
	pointer: cursor;
}

form.diqa-import-command a {
	cursor: pointer;
}

form.diqa-import-command {
	float: left;
}

div.diqa-import-table table tr:nth-child(odd) {
    background-color: #ddd;
}
div.diqa-import-table table tr:nth-child(even) {
    background-color: #eee;
}

div#diqa-open-log {
	margin-top:10px;
}

div.diqa-taggingrule-container {
	background-color: #dce0e2;
    border-radius: 10px;
    margin-top: 10px;
}

div.diqa-taggingrule-header {
    padding-bottom: 10px;
    cursor: pointer;
	
}

div.diqa-taggingrule-container:hover {
	background-color: #cbd0d1
}

div.diqa-taggingrule-container span {
    position: relative;
	left: 10px;
    top: 5px;
}

input.ui-autocomplete-loading {
	background-image: url("/mediawiki/extensions/Import/skins/ajax-loader.gif?2a669");
    background-size: 16px 16px;
    background-repeat: no-repeat;
}

a.diqa-import-js-button {
	cursor: pointer;
}

div.diqa-import-tagging-footer {
	margin-top: 20px;
	height: 90px;
}

div.diqa-import-tagging-footer form {
	margin-left: 20px;
}



div#folder-picker-dialog {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	top:50px;
}

div#folder-picker-dialog ul.fancytree-container {
	height: 99%;
	overflow: auto;
	border: none !important;
}


span.diqa-import-proposal-folder {
	background-color: #05c10f
}

span.diqa-import-selected-folder {
	background-color: #e2635d
}

div#option-pane span.diqa-import-proposal-folder {
	padding: 5px;
	font-style: italic;
}

div#option-pane span.diqa-import-selected-folder {
	padding: 5px;
	font-style: italic;
}

div#option-pane div {
	margin-top: 15px;
	margin-left: 10px;
}

div#option-pane div.option-pane-row {
	margin-left: 20px;
}

div.diqa-import-table table th:nth-child(1) {
		width: 30px;
}

div.diqa-import-table table td:nth-child(1) {
		width: 30px;
}

@media (min-width: 1024px) {

    div#folder-picker-dialog div#option-pane {
		width: 19%;
	    height: 600px;
	    float: left;
	    border: 1px solid grey;
	    margin-bottom: 10px;
	    margin-left: 5px;
	}
	
	div#folder-picker-dialog div#tree {
		height: 600px;
	    width: 80%;
	    border: 1px dotted;
	    float: left;
	}
	
	 
	
}

@media (max-width: 1023px) {

    div#folder-picker-dialog div#option-pane {
		width: 19%;
	    margin-left: 5px;
	}
	
	div#folder-picker-dialog div#tree {
		height: 600px;
	    width: 100%;
	    border: 1px dotted;
	}
	
	div.diqa-taggingrule-table table th:nth-child(3),
	div.diqa-taggingrule-table table td:nth-child(3) {
		display: none;
	}
	
	div#diqa-import-crawler-table table th:nth-child(3),
	div#diqa-import-crawler-table table th:nth-child(4),
	div#diqa-import-crawler-table table th:nth-child(5),
	div#diqa-import-crawler-table table th:nth-child(6) {
		display: none;
	}
	
	div#diqa-import-crawler-table table td:nth-child(3),
	div#diqa-import-crawler-table table td:nth-child(4),
	div#diqa-import-crawler-table table td:nth-child(5),
	div#diqa-import-crawler-table table td:nth-child(6) {
		display: none;
	}
}
