div.diqa-import-add-link {
	margin-top: 10px;
}

div.diqa-import-add-link a {
	cursor: pointer;
}

div.diqa-import-table table {
	width: 100%
}

div.diqa-import-section {
	margin-top: 20px;
}

div.diqa-import-table {
	margin-top: 20px;
}

div.diqa-import-table th {
	background-color: lightgrey;
	padding: 2px;
}

div.diqa-import-form {
	margin-top: 20px;
}

div.diqa-import-form td {
	padding: 4px;
}

div.diqa-import-form td:first-child {
	width: 200px;
}

div.diqa-import-section input[type=submit] {
	margin-top: 10px;
}

div.diqa-import-error {
	margin-top: 10px;
	background-color: #f45342;
	padding: 10px;
	border-radius: 10px;
}

tr.diqa-import-error-row {
	background-color: #f45342 !important;
}

div.diqa-import-warning {
	margin-top: 10px;
	background-color: #f4a442;
	padding: 10px;
	border-radius: 10px;
}

div.diqa-import-backlink {
	margin-top: 10px;
}

form.diqa-import-command {
	float: left;
	margin-left: 3px;
	pointer: cursor;
}

form.diqa-import-command a {
	cursor: pointer;
}

form.diqa-import-command-nofloat a {
	cursor: pointer;
}

div.diqa-import-table table tr:nth-child(odd) {
    background-color: #ddd;
}
div.diqa-import-table table tr:nth-child(even) {
    background-color: #eee;
}

div#diqa-open-log {
	margin-top:10px;
}

div.diqa-taggingrule-container {
	width: 200px;
	height: 30px;
	margin-top: 10px;
	border-radius: 10px;
	background-color: #dce0e2;
	cursor: pointer;
}

div.diqa-taggingrule-container span {
    position: relative;
	left: 10px;
    top: 5px;
}